@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #b8285c;
    outline: 3px #b8285c solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.button svg path {
    transition: 400ms;
}

.button:hover {
    background-color: #b7b7b7
}

.button:hover .text {
    color: #b8285c;
}

.button:hover svg path {
    fill: #b8285c;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url('Imagen para chess.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.timer,
.puntaje {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #cccccc38;
    backdrop-filter: blur(1vh);
    -webkit-backdrop-filter: blur(1vh);
    box-shadow: 0px 0px 3vh black;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    z-index: 2;
}

h1 {
    text-align: center;
    font-weight: 500;
}

.board {
    width: 400px;
    margin: 20px auto;
    position: relative;
    z-index: 3;
}

.buttons {
    color: aquamarine;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    color: #fff;
    background-color: #000;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #434343;
}

.move-history {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    width: 400px;
    overflow-y: scroll;
    background-color: #f2f2f2;
}

/* Media queries para ajustar el tablero y la imagen de fondo en pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .board {
        width: 300px; /* Reducir el tamaño del tablero en tablets */
    }

    .move-history {
        width: 300px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0.5rem;
    }

    .board {
        width: 100%; /* El tablero ocupa todo el ancho disponible en móviles */
    }

    .move-history {
        width: 100%; /* Ajustar el historial de movimientos al ancho del móvil */
    }

    body {
        background-size: contain; /* Ajustar la imagen de fondo a la pantalla */
    }
}
